* {
  margin: 0;
  padding: 0;
  background-color:rgb(253, 246, 236);
}

.container {
  overflow: scroll;

  /* サイドバーを隠す */
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-snap-type: y mandatory;
  height: 100vh;
}
.area {
  text-align: center;
  color: #333333;
  scroll-snap-align: start;
}

.story {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 3rem;
  
  /* はみ出した文章の改行 */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;

  /* 縦書き中央揃え */
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  display: inline-block;
  text-align: left;

  /* 英数字を縦方向に表示 */
  text-orientation: upright;
}