* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
}

.item {
  display: flex;
  justify-content: space-between;
}

.pageNum {
  position: absolute;
  bottom: 2%;
  right: 2%;
  text-align: center;
  font-size: calc(1vw + 0.5rem);
  background-color: aliceblue;
  width: calc(9vw + 1rem);
  border-radius: 50%;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}